p.social {
  text-align: center;
  margin-top: 20px;
}

p.social a:hover {
  color: #595959;
}

p.social a {
  margin: 0 10px 0 0;
  color: #FFF;
  display: inline-block;
  width: 38px;
  height: 38px;
  border-radius: 19px;
  line-height: 38px;
  font-size: 15px;
  text-align: center;
  transition: all 0.3s;
  vertical-align: bottom;
}

p.social a i {
  vertical-align: bottom;
  line-height: 38px;
  font-size: 21px;
}

p.social a.linkedin,
p.social a.github,
p.social a.email {
  background-color: #AAA;
}

@media (max-width: 992px) {
  p.social {
  display: inline-flex;
  line-height: 38px;
  font-size: 21px;
  }
}
